.k-block-type-spacer div {
	color: var(--color-gray-600);
	font-size: var(--text-sm);
	font-weight: var(--font-normal);
}

.k-block-type-spacer svg {
	display: inline;
	margin-right: 5px;
	position: relative;
	top: 1px;
}
